// ロゴフォント
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');

// 色の変数
$slouch-green: #66d17f;
$slouch-navy: #46585c;
$general-black: #333333;

%center {
  margin: 0 auto;
  text-align: center;
}
