html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}

a {
  color: #66d17f;
  font-weight: bold;
}

input, button, select, textarea {
  appearance: none;
  border: none;
  background: none;
  color: inherit;
}

input, button, select, textarea:focus {
  outline: none;
}

button {
  cursor: pointer;
}

.preview-note h1,.preview-note h2,.preview-note h3,.preview-note h4,.preview-note h5, .preview-note h6 {
  margin: 0;
  margin-bottom: 0.5em;
}
.preview-note h1 {
  border-bottom: 1px #ececec solid;
}
.preview-note p {
  margin: 0;
  margin-bottom: 0.5em;
  padding: 0.3em;
}
.preview-note p code {
  background: #ececec;
  padding: 0.3em 0.2em;
  margin: 0 0.1em;
  border-radius: 3px;
}
.preview-note img {
  max-width: 100%;
}
.preview-note pre {
  background: #333333;
  color: #f5f5f5;
  overflow: scroll;
  padding: 10px;
  margin: 0.5em 0;
  border-radius: 3px;
}
.preview-note code {
  font-family: "Cica";
}
.preview-note blockquote {
  margin: 0.5em 0;
  padding: 0.3em;
  border-left: 2px #46585c solid;
}
.preview-note blockquote p {
  margin: 0;
  font-weight: bold;
  color: #575757;
}
.preview-note hr {
  margin: 0 auto;
  width: 80%;
  margin-top: 1em;
  margin-bottom: 1em;
  border: none;
  border-top: 3px #ececec solid;
}
.preview-note ul,.preview-note ol {
  padding-left: 1.5em;
}
.preview-note ul li::marker, .preview-note ol li::marker {
  color: #46585c;
  font-weight: bold;
}
.preview-note table {
  padding: 0.2em;
  border: 1px #ececec solid;
  border-collapse: collapse
}

.preview-note th{
  padding: 0.2em;
  border:1px solid #ececec;
  background: #e1e7e9;
  color: #46585c;
}
.preview-note td{
  padding: 0.2em;
  border:1px solid #ececec;
}

.visible {
  visibility: visible !important;
  opacity: 1 !important;
  transition: 0.1s !important;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.file-button-button {
  border-radius: 5px;
  background: #66d17f;
  font-family: "nsjp";
  font-weight: bold;
  color: #fafafa;
  padding: 10px;
  box-shadow: 2px 2px 5px #ececec, -2px -2px 5px #f5f5f5;
  transition: 0.1s;
  margin: 10px 0;
}
.file-button-button:hover {
  background: #21ac66;
  transition: 0.1s;
}
.file-sentence {
  text-align: center;
  margin: 10px 0;
  padding: 5px 0;
  font-family: "nsjp";
  font-weight: bold;
  font-size: 20px;
  color: #46585c;
  border-bottom: 4px #f5f5f5 solid;
}
.download-button {
  width: 50%;
  max-width: 150px;
}
.overwrite-button {
  width: 70%;
  max-width: 200px;
}
.overwrite-a {
  margin-top: 20px;
}
.mynote-sentence {
  margin: 0 auto;
  width: 60%;
}
.mynote-container {
  text-align: left;
  width: 80%;
  margin: 0 auto;
  padding: 5px 5%;
  overflow-x: scroll;
  font-family: "nsjp";
  border-bottom: 4px #f5f5f5 solid;
  transition: 0.1s;
}
.mynote-container:hover {
  background: #f5f5f5;
  transition: 0.1s;
}
.mynote-title {
  font-size: 17px;
  font-weight: bold;
  color: #46585c;
  padding: 5px 0;
  word-break: keep-all;
}
.mynote-date {
  font-family: "dosis";
  font-size: 15px;
  color: #66d17f;
  font-weight: bold;
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
	transition: 0.2s ease-out;
	transform: translate(-50%, 5px)
}

[data-tooltip]:before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-bottom: 5px;
  padding: 7px;
	width: 100%;
  min-width: 60px;
	max-width: 100px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 5px;
  border: 3px #66d17f solid;
  background-color: #ffffff;
  color: #66d17f;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 15px;
  font-family: "dosis";
  font-weight: bold;
  line-height: 1.2;
	transition: 0.2s ease-out
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
	transform: translate(-50%, 0)
}
[data-tooltip=false]:hover:before,
[data-tooltip=false]:hover:after {
  visibility: hidden;
  opacity: 0;
}
