html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
}

a {
  color: #66d17f;
  font-weight: bold;
}

input, button, select, textarea {
  appearance: none;
  border: none;
  background: none;
  color: inherit;
}

input, button, select, textarea:focus {
  outline: none;
}

button {
  cursor: pointer;
}

.visible {
  visibility: visible !important;
  opacity: 1 !important;
  transition: 0.1s !important;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.file-button-button {
  border-radius: 5px;
  background: #66d17f;
  font-family: "nsjp";
  font-weight: bold;
  color: #fafafa;
  padding: 10px;
  box-shadow: 2px 2px 5px #ececec, -2px -2px 5px #f5f5f5;
  transition: 0.1s;
  margin: 10px 0;
}
.file-button-button:hover {
  background: #21ac66;
  transition: 0.1s;
}
.file-sentence {
  text-align: center;
  margin: 10px 0;
  padding: 5px 0;
  font-family: "nsjp";
  font-weight: bold;
  font-size: 20px;
  color: #46585c;
  border-bottom: 4px #f5f5f5 solid;
}
.download-button {
  width: 50%;
  max-width: 150px;
}
.overwrite-button {
  width: 70%;
  max-width: 200px;
}
.overwrite-a {
  margin-top: 20px;
}
.mynote-sentence {
  margin: 0 auto;
  width: 60%;
}
.mynote-container {
  position: relative;
  text-align: left;
  width: 80%;
  margin: 0 auto;
  padding: 5px 5%;
  overflow-x: scroll;
  font-family: "nsjp";
  border-bottom: 4px #f5f5f5 solid;
  transition: 0.1s;
}
.mynote-container:hover {
  background: #f5f5f5;
  transition: 0.1s;
}
.mynote-title {
  font-size: 17px;
  font-weight: bold;
  color: #46585c;
  padding: 5px 0;
  word-break: keep-all;
}
.mynote-date {
  font-family: "dosis";
  font-size: 15px;
  color: #66d17f;
  font-weight: bold;
}
.mynote-delete {
  position: absolute;
}

.right-card-visible {
  right: 10px !important;
  transition: 0.3s;
}

.toast-visible {
  visibility: visible !important;
  animation-duration: 3s;
  animation-name: fade-in;
  z-index: 12;
}

@keyframes fade-in {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  15% {
    visibility: visible;
    opacity: 1;
  }

  85% {
    visibility: visible;
    opacity: 1;
  }

  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@media (max-aspect-ratio: 1/1) {
  #left_card {
    background: transparent;
    box-shadow: none;
  }
}
