// 色の変数
$slouch-green: #66d17f;
$slouch-deep-green: #21ac66;
$slouch-navy: #46585c;
$general-black: #333333;
$general-white: #f5f5f5;
$shadow-white: #ececec;
$complete-white: #fafafa;

// サイズの変数
$left-card-height: 60vh;
$A4RATIO: 1 / 1.414;
$slouch-border: 4px $general-white solid;
$center-note-height: 80vh;
$center-note-width: calc(#{$center-note-height} * #{$A4RATIO});
$center-note-padding: 5vh;

// 日本語ロゴ用フォント
@font-face {
  font-family: "corp";
  src: local("Corporate Logo Rounded"), url("../fonts/Corp/Corp.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

// 日本語太字フォント
@font-face {
  font-family: "nsjp";
  src: local("Noto Sans JP Bold"), url("../fonts/NSJP-bold/NotoSansJP-Bold.woff") format("woff"),
    url("../fonts/NSJP-bold/NotoSansJP-Bold.otf") format("opentype");
  font-weight: 700;
  font-display: swap;
}

// プライバシーポリシー用日本語中字フォント
@font-face {
  font-family: "nsjp";
  src: local("Noto Sans JP Medium"), url("../fonts/NSJP-medium/NotoSansJP-Medium.woff") format("woff"),
    url("../fonts/NSJP-medium/NotoSansJP-Medium.otf") format("opentype");
  font-weight: 500;
  font-display: swap;
}

// 日本語通常フォント
@font-face {
  font-family: "nsjp";
  src: local("Noto Sans JP Regular"), url("../fonts/NSJP-regular/NotoSansJP-Regular.woff") format("woff"),
    url("../fonts/NSJP-regular/NotoSansJP-Regular.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
}

// 英語太字フォント
@font-face {
  font-family: "dosis";
  src: local("Dosis Bold"), url("../fonts/Dosis-bold/Dosis-Bold.woff") format("woff"),
    url("../fonts/Dosis-bold/Dosis-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

// 英語通常フォント
@font-face {
  font-family: "dosis";
  src: local("Dosis Regular"), url("../fonts/Dosis-regular/Dosis-Regular.woff") format("woff"),
    url("../fonts/Dosis-regular/Dosis-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

// ログインボタン用Robotoフォント
@font-face {
  font-family: "roboto";
  src: local("Roboto Bold"), url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

// プレビューのcodeタグ用フォント
@font-face {
  font-family: "Cica";
  src: local("Cica Regular"), url("../fonts/Cica-regular/Cica-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

// 左右センタリングのテンプレート
%center {
  margin: 0 auto;
  text-align: center;
}

// 上下左右センタリングのテンプレート
%complete-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
